@model InnovaSchools.Models.ActualizarFotoCheckViewModel

@{
    int index = 0;
}
<span class="TitleEstTimeClass" style="color: red">
    @Html.DisplayFor(m => m.resultadoFind)
</span>


<br />
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-condensed">
        <tr class="active">
            <th colspan="7">LISTA DE PERSONAL</th>
        </tr>
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.Contrato.idContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato.TipoContrato.descripcionContrato )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato.Empleado.nombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato.fechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato.fechaCese)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato.Convocatoria.Puesto.descripcionPuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato.Empleado.codigoFotocheck)
            </th>            
        </tr>
        @for (index = 0; index < Model.Contratos.Count; index++)
        {
            <tr>
                <td>
                    @Model.Contratos[index].idContrato.ToString()
                </td>
                <td>
                    @Model.Contratos[index].TipoContrato.descripcionContrato
                </td>
                <td>
                    @Html.ActionLink(@Model.Contratos[index].Empleado.Candidato.Persona.nombreCompleto.ToString(), "getEmpleado", "ActualizarFotoCheck", new { pDni = @Model.Contratos[index].idContrato}, null)
                </td>
                <td>
                    @Model.Contratos[index].fechaIngreso
                </td>
                <td>
                    @Model.Contratos[index].fechaCese
                </td>
                <td>
                    @Model.Contratos[index].Convocatoria.Puesto.descripcionPuesto
                </td>
                <td>
                    @Model.Contratos[index].Empleado.codigoFotocheck
                </td>
            </tr>
        }

    </table>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            alert(1);

        });
    </script>

}