@model InnovaSchools.Models.GenerarReporteViewModel

@{
    int index = 0;
}
<span class="TitleEstTimeClass" style="color: red">
    @Html.DisplayFor(m => m.resultadoFind)
</span>


<br />
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-condensed">
        <tr class="active">
            <th colspan="5">LISTA DE PERSONAL</th>
        </tr>
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.Contrato.Empleado.Candidato.Persona.documentoIdentidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato.Empleado.Candidato.Persona.nombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato.fechaIngresoStr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato.Convocatoria.Puesto.descripcionPuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato.TipoContrato.descripcionContrato)
            </th>
        </tr>
        @for (index = 0; index < Model.Contratos.Count; index++)
        {
            <tr>
                <td>
                    @Model.Contratos[index].Empleado.Candidato.Persona.documentoIdentidad
                </td>
                <td>
                    @Model.Contratos[index].Empleado.Candidato.Persona.nombreCompleto
                </td>
                <td style="align-content: flex-end; text-align: center">
                    @Model.Contratos[index].fechaIngresoStr
                </td>
                <td>
                    @Model.Contratos[index].Convocatoria.Puesto.descripcionPuesto
                </td>
                <td>
                    @Model.Contratos[index].TipoContrato.descripcionContrato
                </td>
            </tr>
        }
    </table>
</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            alert(1);

        });
    </script>

}